body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
}

.screen {
    display: none;
    text-align: center;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.screen.active {
    display: block;
}

button {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background: #0078ff;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #005fcc;
}
.pink {
    color: rgb(217, 31, 124);
    font-weight: bold;
}